body {
	background: linear-gradient(-45deg, #ee7752, #603bb8, #47cfff, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*body {
background: linear-gradient(to right, rgba(127, 127, 213, 0.75), rgba(134, 168, 231, 0.75), rgba(145, 234, 228, 0.75));	
}*/
.logodiv {
	position: absolute;
    margin-left: calc(50% - 75px);
    
	
}

img.logo {

width: 150px;

}
nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent {
	display: flex 1;
}

.profilepic {
	margin: auto;
	padding: auto;
/*	margin-left: auto;
	margin-right: auto;*/
	border-radius: 50%;
	background-image: url("1.jpg");
	background-size: cover;
	width: 60px;
	height: 60px;
	margin: 1rem;
	padding: 1rem;
	-webkit-box-shadow: 13px 9px 30px 4px rgba(0,0,0,0.6);
	-moz-box-shadow: 13px 9px 30px 4px rgba(0,0,0,0.6);
	box-shadow: 13px 9px 30px 4px rgba(0,0,0,0.6);
	}

@media (min-width: 350px) {
	.profilepic {
		width: 90px;
		height: 90px;
	}
}


@media (min-width: 600px) {
	.profilepic {
		width: 125px;
		height: 125px;
	}
}


a.tab.navbar-nav.nav-link{
	color: white;
	font-size: 1.75rem;
}


.column1 {
	
}
#pizon{
	justify-content: flex-start;
	text-shadow: 2px 4px 6px #6B6769;
	padding: 2;
	margin-top: 2rem;
	font-size: 2rem;
	color: white;
	font-weight: 10px

}

.nav-link.navbar-nav {
	padding: 1rem;
	margin: 1rem;
	text-shadow: 2px 4px 6px #6B6769;

}

a.maintab {
	display: inline-block;
	font-family: "Helvetica, sans-serif";
	transition: all .4s ease-in-out;
	font-size: 3rem;
	color: white;
	text-shadow: 2px 4px 6px #6B6769

}
a.maintab:nth-child:hover {
	transform: translate(250px);
	transition: all .4s ease-in-out;
}

.jumbotron {

	background: none;
}

hr.my-4.line {
	padding-bottom: 10px;
	border-bottom: solid black;
	background-color: #FFF	
	width: 125px;
	transition: all .4s ease-in-out;
}

p.lead {
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-size: 1.5rem;
	text-shadow: 4px 6px 6px rgba(74,65,73,0.75);
}

div.images.glide {
display: flex;
align-items: center;
justify-content: center;
margin: 0;
padding: 0;
}
.glide__slide img{
	transition: 1s;
  width: 100%;
}

.glide__slide img:hover {
	filter: grayscale(100%);
	transform: scale(1.1);
}


.glide__slide{
  opacity: .2;
  transition: .3s linear;
}

.glide__slide--active{
  opacity: 1;
  filter: none;
  transform: scale(1.1);
}

.glide__slides{
  overflow: visible;
}

footer {
	margin: 1rem;
	padding: 1rem;
}

.sociallinks {
	margin: 10px;
	padding: 10px;
}
a.sb {
	display: inline-block;
	transition: all .4s ease-in-out;
	size: 1rem;
	color: white;
	text-shadow: 2px 4px 6px #6B6769

}
a.sb:nth-child:hover {
	transform: translate(250px);
	transition: all .4s ease-in-out;
}
